#trailerDetail {
    margin: 50px 0;
    .trailerDetail {

        &--block {
            margin: 0 10px;
            

            h5 {
                font-size: 15px;
                width: 200px;
            }
            
    }
    }

   
}